*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
body{
    min-height: 800vh;
    /* background-color: #461b69; */
    background-color: #ffffff;
    overflow-x: hidden;
}
.svg-container{
   height:100vh;
/*     max-height: 500vh; */
/*    max-height:310vh; */
    background-color: #312975;
    width: 100vw;
    overflow: hidden;
    border: 5px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
.intro{
    margin-top: 0vh;
    font-size: 1.5rem;
    text-align: center;
    /* color: #000000d0; */
    color: rgb(200, 172, 212);
}
.intro h2{
   margin-top:5vh;
}
.text{
    position: absolute;
    opacity: 0;
    padding: 1rem;
    top:30vh;
}
.text h2{
    font-size: 2rem;
}
.night-svg{
    /* border: 5px solid red; */
    width: 100vw;
    margin: 20px 0;
   margin-top:10vh;
    /* overflow:visible; */
    /* overflow-x: hidden; */
}
svg #stars g defs circle{
    animation: blink 5s infinite alternate;
    transform-origin: center;
}

svg #witch {
 /* transform-origin: center; */
    animation: movewitch 6s infinite ease-out;
}
@keyframes blink{
    from{
        transform: scale(0) rotateZ(0deg);
    }
    to{
        transform: scale(1) rotateZ(90deg);
    }
}
@keyframes movewitch{
    from{
        transform: rotateX(0deg) translateX(300px) rotateZ(0deg) translateY(-0px) scale(0.85);
    }
    to{
        transform: translateX(-800px) translateY(400px) rotateX(-40deg) rotateZ(-40deg) scale(0.5);
    }
}
/* witch,buildings,insidebuildings,stars,blue */

 
@media only screen and (min-width: 800px){
    .svg-container{
        align-items: center;
        justify-content: flex-start;
    }
    .intro{
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
    .night-svg{
        width:50vw;
        margin: 0;
    }
    .text{
        top:40vh;
        max-width: 50%;
    }
} 
